---
layout: posts-base
title: All Posts
permalink: /posts/
---

<h1>All Posts</h1>

<div class="posts-list">
  {% for year, months in collections.postsByMonth | dictsort | reverse %}
    <h2><a href="/{{ year }}/">{{ year }}</a></h2>
    {% for month, posts in months | dictsort | reverse %}
      {% set monthNum = month + 1 %}
      <h3><a href="/{{ year }}/{% if monthNum < 10 %}0{% endif %}{{ monthNum }}/">{{ month | toMonth }}</a></h3>
      {% for post in posts | reverse %}
        {% include "post-display.njk" %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
</div>