---
layout: posts-base
title: All Posts
permalink: /posts/
---

<h1>All Posts</h1>

<div class="posts-list">
  {% for year, months in collections.postsByMonth | dictsort | reverse %}
    <h2>{{ year }}</h2>
    {% for month, posts in months | dictsort | reverse %}
      <h3>{{ month | toMonth }}</h3>
      {% for post in posts | reverse %}
        <article class="{{ 'note' if '/notes/' in post.inputPath else 'bookmark' }}">
          <time datetime="{{ post.date | date('iso') }}">
            <a href="{{ post.url }}">{{ post.date | date }}</a>
          </time>
          {{ post.templateContent | safe }}
          {% if post.data.syndication %}
            <p class="syndication">
              Also posted on: 
              {% for link in post.data.syndication %}
                <a href="{{ link }}">
                  {%- if "social.coop" in link -%}
                    Mastodon
                  {%- elif "bsky.app" in link -%}
                    Bluesky
                  {%- else -%}
                    {{ link | replace("https://", "") }}
                  {%- endif -%}
                </a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </p>
          {% endif %}
        </article>
      {% endfor %}
    {% endfor %}
  {% endfor %}
</div>