<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - Casey Gollan</title>
  <link rel="stylesheet" href="https://use.typekit.net/rfh8wvj.css" />
  <link rel="stylesheet" href="/assets/posts.css" />
  <link rel="webmention" href="https://webmention.io/caseyagollan.com/webmention" />
  <link rel="alternate" type="application/atom+xml" title="Casey Gollan - All Posts" href="/feed.xml" />
</head>
<body>
  <div class="nav-toggles">
    <a href="/">👋</a>
    <!-- <a href="/ai/">🤖</a> -->
    <a href="/library/">📚</a>
    {% if page.url != "/posts/" %}
      <a href="/posts/">📡</a>
    {% endif %}
  </div>

  {{ content | safe }}
</body>
</html>
